@import url('https://fonts.googleapis.com/css?family=Numans');

html,body
{
  background-image: url('images/fond_leo_modif.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container
{
  height: 100%;
  align-content: center;
}

.card
{
  height: 54em;
  margin-top: auto;
  margin-bottom: auto;
  width: 66em;
  background-color: rgba(0, 0, 0, 0.701) !important;
  border-radius: 12px 12px 12px 12px;
  box-shadow:  0 0 10px #f99500, 0 0 11.5px #ffc823d4;
}

.card-header h3
{
  color: white;
}

/*--------------------------------------------------*/

table.minimalistBlack
{
  border: 3px solid #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: #ffffff;
  margin-bottom: 0.28em;
}

table.minimalistBlack td, table.minimalistBlack th
{
  border: 1px solid #ffffff;
  padding: 5px 4px;
  color: #ffffff;
}

table.minimalistBlack tbody td
{
  font-size: 13px;
  color: #ffffff;
}

table.minimalistBlack thead
{
  background: #CFCFCF;
  background: -moz-linear-gradient(top, #8b8b8b 0%, #898989 66%, #6e6d6d 100%);
  background: -webkit-linear-gradient(top,  #8b8b8b 0%, #898989 66%, #6e6d6d 100%);
  background: linear-gradient(to bottom,  #8b8b8b 0%, #898989 66%, #6e6d6d 100%);
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}

table.minimalistBlack thead th
{
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

/*--------------------------------------------------*/

.login_btn
{
  color: black;
  background-color: #ffb700;
  width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

img
{
  margin:0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 128px;
  width:130px;
}

.card2
{
  margin-top:2em;
  margin-left: 0px;
  width: 514px;
  height: 473px;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

