<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6eb4e0002f.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaini&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  </style>
  <title>CreateCard_Animal</title>
</head>

<body class="body">
    <header class="Header">
        <div class="fix-me">
            <div class="card1 closed">
                <div class="contain-navbar-image">
                    <img th:src="@{images/ZOOLOGIA.png}">
                </div>
                <div class="contain-navbar-searchbar">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                        </div>
                        <input  type="search" class="form-control" name="search" placeholder=" recherche">
                    </div>
                </div>

                <div class="contain-navbar-buttons">
                    <button class="btn"><i class="fa-solid fa-house"></i> <a th:href="@{/HomeZoologia}"> ACCUEIL</a> </button>
                    <button class="btn"><i class="fa-solid fa-heart-circle-check"></i> <a th:href="@{/Favoris}"> FAVORIS</a> </button>
                    <button class="btn"> <i class="fa-solid fa-user"></i> <a th:href="@{/DetailCompte}"> COMPTE</a> </button>
                    <button class="btn active"><i class="fa-solid fa-display"></i><a th:href="@{/ModifAppMenu}"> L'APPLI</a> </button>
                </div>
                <button class="btn menuburger"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
    </header>

    <main>
        <h2 class="titleCreaC">CREER UNE ANIMAL-CARD</h2>
        <section class="card-form">
            <form th:action="@{/CreateAnimal}" th:object="${animalFormDTO}" method="post">
                <div class="input-group form-group1">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-otter f"></i></span>
                    </div>
                    <input th:field="*{nom}" type="text" class="form-control form-crea" name="nom" placeholder=" nom">
                </div>
                <div class="input-group form-group2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-weight-scale f"></i></span>
                    </div>
                    <input th:field="*{poids}" type="text" class="form-control form-crea2" name="poids" placeholder=" poids">
                </div>
                <div class="input-group form-group3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-ruler-vertical f"></i></span>
                    </div>
                    <input th:field="*{taille}" type="text" class="form-control form-crea" name="taille" placeholder=" taille">
                </div>
                <div class="input-group form-group4">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-utensils"></i></span>
                    </div>
                    <input th:field="*{regimAlim}" type="text" class="form-control form-crea2" name="regimAlim" placeholder=" regimeAlimentaire">
                </div>
                <div class="input-group form-group5">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-people-group f"></i></span>
                    </div>
                    <input th:field="*{nonFamille}" type="text" class="form-control form-crea" name="nonFamille" placeholder=" famille">
                </div>
                <div class="input-group form-group6">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-paw f"></i></span>
                    </div>
                    <input th:field="*{nomCategorie}" type="text" class="form-control form-crea2" name="categorie" placeholder=" categorie">
                </div>
                <div class="input-group form-group7">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-map-location-dot f"></i></span>
                    </div>
                    <input th:field="*{nomPays}" type="text" class="form-control form-crea" name="lieux" placeholder=" lieux">
                </div>
                <div class="input-group form-group8">
                    <div class="input-group-prepend">
                        <span class="input-group-text ff"><i class="fa-solid fa-temperature-half f"></i></span>
                    </div>
                    <input th:field="*{nomStatut}" type="text" class="form-control form-crea2" name="statut" placeholder=" statut">
                </div>
                <div class="input-group form-group9">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-pen f"></i></span>
                    </div>
                    <input th:field="*{description}"  type="text" class="form-control form-crea" name="description" placeholder=" description">
                </div>
                <div class="input-group form-group10">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-pen f"></i></span>
                    </div>
                    <input th:field="*{ppImage}"  type="text" class="form-control form-crea2" name="ppImage" placeholder=" chemin Image">
                </div>
                <div class="form-group">
                    <input type="submit" value="valider" class="btn btnFCrea">
                </div>
            </form>
        </section>
    </main>
<script src="MenuBurgerScript.js"></script>
</body>

    