<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6eb4e0002f.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaini&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  </style>
  <title>DeleteUser</title>
</head>

<body class="body">
<header class="Header">
    <div class="fix-me">
        <div class="card1 closed">
            <div class="contain-navbar-image">
                <img src="IMG/ZOOLOGIA.png">
            </div>
            <div class="contain-navbar-searchbar">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                    </div>
                    <input  type="search" class="form-control" name="search" placeholder=" recherche">
                </div>
            </div>

            <div class="contain-navbar-buttons">
                <button class="btn"><i class="fa-solid fa-house"></i> ACCUEIL</button>
                <button class="btn"><i class="fa-solid fa-heart-circle-check"></i> FAVORIS</button>
                <button class="btn"> <i class="fa-solid fa-user"></i> COMPTE</button>
                <button class="btn active"><i class="fa-solid fa-display"></i></i> L'APPLI</button>
            </div>
            <button class="btn menuburger"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>
</header>

    <main class="main">
        <h2 class="titleCrea titleDelete">SUPPRIMER UN UTILISATEUR</h2>

        <div class="card-bodyL">
            <table class="minimalistBlack">
                <thead>
                    <tr>
                        <th>id user</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>username</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="utilisateur : ${utilisateurs}">
                        <td th:text="${utilisateur.idUser}"></td>
                        <td th:text="${utilisateur.firstname}"></td>
                        <td th:text="${utilisateur.lastname}"></td>
                        <td th:text="${utilisateur.username}"></td>
                        <td th:text="${utilisateur.email}"></td>
                        <td class="text-center">
                            <a th:href="@{/edit/{id}(id=${utilisateur.iduser})}">Modif</a>
                            <td>
                                <!--<button class="deleteBTN"><a class="aDeleteBTN" th:href="@{|/ZOOLOGIAhome/${utilisateur.iduser}|}">Suppr</a></button>-->
                                <button class="deleteBTN"><a class="aDeleteBTN"  th:href="@{/deleteUser/{id}(id=${utilisateur.idUser})}">Suppr</a></button>
                            </td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <script src="MenuBurgerScript.js"></script>
</body>