<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6eb4e0002f.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaini&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  </style>
  <title>Detail_Compte</title>
</head>

<body class="body single">
    <header class="Header">
        <div class="fix-me">
            <div class="card1 closed">
                <div class="contain-navbar-image">
                    <img th:src="@{images/ZOOLOGIA.png}">
                </div>
                <div class="contain-navbar-searchbar">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                        </div>
                        <input  type="search" class="form-control" name="search" placeholder=" recherche">
                    </div>
                </div>

                <div class="contain-navbar-buttons">
                    <button class="btn"><i class="fa-solid fa-house"></i> <a th:href="@{/HomeZoologia}"> ACCUEIL</a> </button>
                    <button class="btn"><i class="fa-solid fa-heart-circle-check"></i> <a th:href="@{/Favoris}"> FAVORIS</a> </button>
                    <button class="btn active"> <i class="fa-solid fa-user"></i> <a th:href="@{/DetailCompte}"> COMPTE</a> </button>
                    <button class="btn"><i class="fa-solid fa-display"></i><a th:href="@{/ModifAppMenu}"> L'APPLI</a> </button>
                </div>
                <button class="btn menuburger"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="main-content">
            <img class="main-content-img"  th:src="@{images/tablefondCompteBlack.jpg}">

            <div class="main-content-cardDescriptionCompte-imagePP">
                <img class="main-content-cardDescriptionCompte-imagePP-img"  th:src="@{images/UserCompte.jpg}" alt="">
            </div>

            <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                <div class="wheel"></div>
                <div class="hamster hamster-compte">
                    <div class="hamster__body">
                        <div class="hamster__head">
                            <div class="hamster__ear"></div>
                            <div class="hamster__eye"></div>
                            <div class="hamster__nose"></div>
                        </div>
                        <div class="hamster__limb hamster__limb--fr"></div>
                        <div class="hamster__limb hamster__limb--fl"></div>
                        <div class="hamster__limb hamster__limb--br"></div>
                        <div class="hamster__limb hamster__limb--bl"></div>
                        <div class="hamster__tail"></div>
                    </div>
                </div>
                <div class="spoke"></div>
            </div>

            <section class="main-content-cardDescriptionCompte"><!--th:object="${utilisateur}"-->
                <div class="main-content-cardDescriptionCompte-title">
                    <h1 class="main-content-cardDescriptionCompte-title-username" th:text="${utilisateur.username}"></h1>
                </div>
                <div class="main-content-cardDescriptionCompte-infos">
                    <h3 class="main-content-cardDescriptionCompte-infos-prenom" th:text="'prenom: ' + ${utilisateur.firstname}"></h3>
                    <h3 class="main-content-cardDescriptionCompte-infos-nom" th:text="'nom: ' + ${utilisateur.lastname}"></h3>
                    <h3 class="main-content-cardDescriptionCompte-infos-email" th:text="'email: ' + ${utilisateur.email}"></h3>
                    <h3 class="main-content-cardDescriptionCompte-infos-statut" th:text="'type: ' + ${utilisateur.usertype}"></h3>
                </div>
            </section>
        </section>
    </main>
    <script src="MenuBurgerScript.js"></script>
</body>
