<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6eb4e0002f.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaini&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  </style>
  <title>Zoologia_home</title>
</head>

<body class="body">
    <header class="Header">
        <div class="fix-me">
            <div class="card1 closed">
                <div class="contain-navbar-image">
                    <img th:src="@{images/ZOOLOGIA.png}">
                </div>
                <div class="contain-navbar-searchbar">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        </div>
                        <input  type="search" class="form-control" name="search" placeholder=" recherche">
                    </div>
                </div>

                <div class="contain-navbar-buttons">
                    <button class="btn active"><i class="fa-solid fa-house"></i> <a th:href="@{/HomeZoologia}"> ACCUEIL</a> </button>
                    <button class="btn"><i class="fa-solid fa-heart-circle-check"></i> <a th:href="@{/Favoris}"> FAVORIS</a> </button>
                    <button class="btn"> <i class="fa-solid fa-user"></i> <a th:href="@{/DetailCompte}"> COMPTE</a> </button>
                    <button class="btn"><i class="fa-solid fa-display"></i><a th:href="@{/ModifAppMenu}"> L'APPLI</a> </button>
                </div>
                <button class="btn menuburger"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
    </header>

    <main class="main">

        <section class="main-content">
            <div class="main-content-bigtitle">
                <h1 class="main-content-bigtitle-h1">Z O O L O G I A</h1>
            </div>
        </section>

        <section class="main-title2">
            <div class="main-title2-bigtitle">
                <h1 class="main-title2-bigtitle-h1">Z O O L I S T E </h1>
            </div>
        </section>

        <section class="main-box">

            <div class="main-box-card" th:each="animal : ${animals}">
                <img class="main-box-card-image" th:src="@{${animal.ppimage}}" alt="">
                <h2 class="main-box-card-titleName" th:text="${animal.nom}"></h2>
                <h3 class="main-box-card-etiquetteCard1" th:text="${animal.idStatut.nomStatut}"></h3>
                <div class="main-box-card-divFam">
                    <h3 class="main-box-card-divFam-famille" th:text="${animal.idFamille.nomFamille}"></h3><!--<i class="fa-solid fa-people-group"></i>-->
                    <h3 class="main-box-card-divFam-categorie" th:text="${animal.idCategorie.nomCategorie}"></h3><!--<i class="fa-solid fa-paw"></i>-->
                </div>
                <div class="main-box-card-flexMore">
                    <button class="main-box-card-flexMore-addMyList">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <button class="main-box-card-flexMore-enSavoirPlus"><a th:href="@{getAnimalDetailCard/{idAnimal}(idAnimal=${animal.idAnimal})}">en savoir +</a></button>
                </div>
            </div>
                <!-- <p class="main-box-card-paragraphe"> ZOOLOGIA est une application qui a pour but de renseigner le public à propos des animaux en danger ou menacés présents sur nottre planète.</p> -->

            <div class="main-box-card">
                <img class="main-box-card-image" th:src="@{images/tigrecard.jpg}" alt="">
                <h2 class="main-box-card-titleName">tigre doré</h2>
                <h3 class="main-box-card-etiquetteCard2">en danger critique</h3>
                <div class="main-box-card-divFam">
                    <h3 class="main-box-card-divFam-famille">Vertébré <i class="fa-solid fa-people-group"></i></h3>
                    <h3 class="main-box-card-divFam-categorie">félin <i class="fa-solid fa-paw"></i></h3>
                </div>
                <div class="main-box-card-flexMore">
                    <button class="main-box-card-flexMore-addMyList">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <button class="main-box-card-flexMore-enSavoirPlus">en savoir +</button>
                </div>
            </div>
            <div class="main-box-card">
                <img class="main-box-card-image" th:src="@{images/tigrecard.jpg}" alt="">
                <h2 class="main-box-card-titleName">tigre blanc</h2>
                <h3 class="main-box-card-etiquetteCard3"> en danger critique</h3>
                <div class="main-box-card-divFam">
                    <h3 class="main-box-card-divFam-famille">Vertébré <i class="fa-solid fa-people-group"></i></h3>
                    <h3 class="main-box-card-divFam-categorie">félin <i class="fa-solid fa-paw"></i></h3>
                </div>
                <div class="main-box-card-flexMore">
                    <button class="main-box-card-flexMore-addMyList">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <button class="main-box-card-flexMore-enSavoirPlus">en savoir +</button>
                </div>
            </div>
            <div class="main-box-card">
                <img class="main-box-card-image" th:src="@{images/tigrecard.jpg}" alt="">
                <h2 class="main-box-card-titleName">tigre d'asie</h2>
                <h3 class="main-box-card-etiquetteCard4">vulnérable</h3>
                <div class="main-box-card-divFam">
                    <h3 class="main-box-card-divFam-famille">Vertébré <i class="fa-solid fa-people-group"></i></h3>
                    <h3 class="main-box-card-divFam-categorie">félin <i class="fa-solid fa-paw"></i></h3>
                </div>
                <div class="main-box-card-flexMore">
                    <button class="main-box-card-flexMore-addMyList">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    <button class="main-box-card-flexMore-enSavoirPlus">en savoir +</button>
                </div>
            </div>
        </section>
    </main>

    <footer class="Footer">
        <section class="Footer-contain">
            <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                <div class="wheel"></div>
                <div class="hamster">
                    <div class="hamster__body">
                        <div class="hamster__head">
                            <div class="hamster__ear"></div>
                            <div class="hamster__eye"></div>
                            <div class="hamster__nose"></div>
                        </div>
                        <div class="hamster__limb hamster__limb--fr"></div>
                        <div class="hamster__limb hamster__limb--fl"></div>
                        <div class="hamster__limb hamster__limb--br"></div>
                        <div class="hamster__limb hamster__limb--bl"></div>
                        <div class="hamster__tail"></div>
                    </div>
                </div>
                <div class="spoke"></div>
            </div>
            <div class="Footer-contain-img"></div>
            <ul class="Footer-contain-list">
                <li><a href="#">Nous contacter</a></li>
                <li><a href="#">Nos services</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Thermes et conditions</a></li>
                <li><a href="#">Carrière</a></li>
            </ul>
            <div class="Footer-contain-copyright">
                ZOOLOGIA Copyright © 2024 zoologia CDA - All rights reserved || Designed and Develop By: Yann GIRARDO 
            </div>
        </section>
    </footer>
    <script src="MenuBurgerScript.js"></script>
</body>
