
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Sign Up</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="bootstrapin.min.css">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet"  href="stylesign_up.css">
</head>
<body>
<div class="container">

    <div class="d-flex justify-content-center h-100">

        <div class="card2">
            <div class="circle"></div>
            <div class="circle"></div> 
            <div class="card">

                <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
                    <div class="wheel"></div>
                    <div class="hamster">
                        <div class="hamster__body">
                            <div class="hamster__head">
                                <div class="hamster__ear"></div>
                                <div class="hamster__eye"></div>
                                <div class="hamster__nose"></div>
                            </div>
                            <div class="hamster__limb hamster__limb--fr"></div>
                            <div class="hamster__limb hamster__limb--fl"></div>
                            <div class="hamster__limb hamster__limb--br"></div>
                            <div class="hamster__limb hamster__limb--bl"></div>
                            <div class="hamster__tail"></div>
                        </div>
                    </div>
                    <div class="spoke"></div>
                </div>

                <div class="card-header">
                    <h3>S'enregistrer</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <div class="img">
                            <img th:src="@{images/ZOOLOGIA.png}">
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form th:action="@{/signup}" th:object="${signUpForm}" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-utilisateur"></i></span>
                            </div>
                            <input th:field="*{firstname}" type="text" name="firstName" class="form-control" placeholder=" prénom">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-utilisateur"></i></span>
                            </div>
                            <input th:field="*{lastname}" type="text" name="lastName" class="form-control" placeholder=" nom">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-utilisateur"></i></span>
                            </div>
                            <input th:field="*{username}" type="text" name="userName" class="form-control" placeholder=" userName">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-utilisateur"></i></span>
                            </div>
                            <input th:field="*{email}" type="email" name="email" class="form-control" placeholder=" email">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input th:field="*{password}" type="password" name="password" class="form-control" placeholder=" mot-de-passe">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Se souvenir de moi
                        </div>
                        <div class="form-group">
                            <input type="submit" value="valider" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Déjà un compte ?<a th:href="@{/signin}">S'inscrire</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        Un problème : .<a th:href="@{/contact}">Contact / Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
