<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/6eb4e0002f.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Jaini&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
  </style>
  <title>ModifApp_Menu</title>
</head>

<body class="body">

    <header class="Header">
        <div class="fix-me">
            <div class="card1">
                <div class="contain-navbar-image">
                    <img src="IMG/ZOOLOGIA.png">
                </div>
                <div class="contain-navbar-searchbar">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input  type="search" class="form-control" name="search" placeholder=" recherche">
                    </div>
                </div>

                <div class="contain-navbar-buttons">
                    <button class="btn"><i class="fa-solid fa-house"></i> ACCUEIL</button>
                    <button class="btn"><i class="fa-solid fa-heart-circle-check"></i> FAVORIS</button>
                    <button class="btn"> <i class="fa-solid fa-user"></i> COMPTE</button>
                    <button class="btn"><i class="fa-solid fa-display"></i></i> L'APPLI</button>
                </div>
                <button class="btn menuburger"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
    </header>

    <main class="mainModifAppmenu">
        <section class="mainModifAppmenu-display">
            <div class="mainModifAppmenu-display-card">
                <h1 class="mainModifAppmenu-display-card-title">CREER</h1>
                <button class="mainModifAppmenu-display-card-button"><i class="fa-regular fa-id-card"></i></button>
            </div>

            <div class="mainModifAppmenu-display-card">
                <h1 class="mainModifAppmenu-display-card-title">MODIF/SUPPR</h1>
                <button class="mainModifAppmenu-display-card-button"><i class="fa-solid fa-trash"></i></button>
            </div>
        </section>
    </main>

</body>